<td><%= title %></td>
<td><%= owner %></td>
<td><%= rent %></td>
<td><%= contact %></td>
<td><%= location %></td>

<td><a href="#/<%= id %>" class="btn btn-primary">Show</td>
<td><a href="#/<%= id %>/edit" class="btn">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy btn btn-danger">Destroy</a></td>